.App {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: Verdana !important;
  font-size: 60px !important;
  font-weight: 900 !important;
  margin-top: 50px !important;
}

p {
  font-family: Tahoma, sans-serif;
  font-weight: 900;
}

button {
  margin-bottom: 20px !important;
  padding: 20px;
  background-color: rgb(31, 107, 222);
  color: white;
  border-width: 0px !important;
  border-radius: 20px !important;
  width: 300px;
  box-shadow: 1px 1px 20px -8px black !important;
}

.mainTodo {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.mainInput {
  padding: 20px 20px;
  margin-top: 50px;
  width: 50%;
  border-radius: 20px;
  border: gray;
  box-shadow: 1px 1px 20px -10px gray;
}

#todoSection {
  padding: 25px;
  margin: 10px;
  box-shadow: 1px 1px 20px -10px gray;
  border-radius: 10px;
  width: 100%;
}

#checkBox {
  margin: 10px;
}